.wtd-main-banner {
  height: calc(100vh - 64px);
  background-image: url(http://via.placeholder.com/1920x1000);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}