.wtd-footer {
  background-color: #f7f7f7;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.08);
  padding: 1.5rem 0 1rem;

  @include e('separator') {
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid #e1e1e1;
  }

  @include e('copyright') {
    display: inline-block;
    font-size: 14px;
  }
  
  @include e('site-nav-container') {
    @include clearfix;
  }
  @include e('site-nav') {
    float: left;
    width: 16.66666667%;
    margin-bottom: 20px;
    h2 {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
}