  /* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 18px;
  left: 10px;
  top: 10px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  height: 18%;
  background: #fff;
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}
 
/* General sidebar styles */
.bm-menu {
  background: #70D0D9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #70D0D9;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #fff;
}
 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}