.user-info {
  left: 10px;
  top: 15px;
  width: 200px;
  text-align: center;
  @include e('image-wrapper') {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  @include e('name') {
    margin: 10px 0;
  }
  img {
    display: block;
    width:100%;
    height:100%;
    object-fit: cover;
  }
}
.todo-app__user-setting-button {
  cursor: pointer;
  margin: 0 auto;
  margin-bottom:10px;
  text-align: center;
  display: block;
  color: #fff;

  svg {
    margin-right: 5px;
    position: relative;
    font-size: 20px;
    top: 2px;    
  }
}
.swatches-picker {
  position: relative;
  left: -7px;
  margin-top: 15px;  
}

/// UserSetting style
.todo-app__user-setting {
  position: absolute;
  text-align: left;  
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: #F7FCFC;
  
  transform: translateX(-100%);
  opacity: 0;
  transition: all .1s ease-in-out;
  &.open {
    transform: translateX(0);
    opacity:1;
  }

  header {
    padding: 13px 10px 12px 10px;
    background-color: #70D0D9;
    transition: all .5s ease-in-out;
    button {
      display: inline-block;
      color: #fff;
    }
    p {
      display: inline-block;
      padding-left: 10px;
    }
  }
}
.todo-app__user-setting-content {
  padding: 10px;
  color: #444;
}