.wtd-no-match {
  margin: 53px auto;
  max-width: 400px;
  text-align: left;
  padding: 20px;
  background: #fff;
  
  @include e('logo') {
    margin-bottom: 60px;
  }
  @include e('support') {
    font-size: 14px;
    margin: 8px 0 0;
    line-height: 20px;
    a {
      display: inline;
      color: $mainColor;
    } 
  }
  h3 {
    font-size: 25px;
    line-height: 33px;
    margin: 25px 0;    
  }
}