.add-todo-item {
  width: 100%;
  padding: 12px 45px 12px 12px;
  color: rgba(0,0,0,0.6);
}

.wtd-dashboard__add-todo-wrap {
  position: relative;
}
.todo-app__add-todo-item-container {
  position: relative;
}
.todo-app__write-button {
  position: absolute;
  color: #70D0D9;
  font-size: 18px;
  cursor: pointer;
  top: 9px;
  right: 5px;  
}
.add-todo-item:focus {
  button {
    opacity: 1;
  }
}
.add-todo-item:focus::-webkit-input-placeholder { 
  color:transparent;
  transition: color .2s ease-in-out;
}
.wtd-dashboard__add-todo-item {
  margin-top: 15px;
  opacity: .6;
  transition: opacity .3s ease-in-out;
  span {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    top: -1px;
  }
  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}