.add-todo-item {
  width: 100%;
  padding: 12px 45px 12px 12px;
  color: rgba(0,0,0,0.6);
}

.add-todo-item {

}
.todo-app__add-todo-item-container {
  position: relative;
}
.todo-app__write-button {
  position: absolute;
  color: #70D0D9;
  font-size: 18px;
  cursor: pointer;
  top: 9px;
  right: 5px;  
}
.add-todo-item:focus {
  button {
    opacity: 1;
  }
}
.add-todo-item:focus::-webkit-input-placeholder { 
  color:transparent;
  transition: color .2s ease-in-out;
}