.todo-app {
  @include e('logo-icon') {
    color: #70d0d9;
    display: block;
    text-align: center;
  }
  @include e('logo-title') {
    text-align: center;
    display: block;
    font-size: 24px;
    margin: 10px 0;
    color: #333;
  }
  @include e('logo-description') {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #777;
    margin-bottom: 30px;
  }
  .todo-app__signin-input-group, .todo-app__signup-input-group {
    position:relative; 
    margin-bottom:30px; 
    input {
      font-size:14px;
      padding:10px 10px 10px 5px;
      display:block;
      width:100%;
      border:none;
      border-bottom:1px solid #ddd;

      &:focus {
        outline: none;
      }
    }

    label {
      color:#999; 
      font-size:14px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all; 
    }
    input:focus ~ label, input:valid ~ label {
      top:-20px;
      font-size:14px;
      color:#70D0D9;
    }

    .bar {
      position:relative; 
      display:block; 
      width: 100%;

      &:before, &:after {
        content:'';
        height:2px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background:#70D0D9; 
        transition:0.2s ease all; 
      }

      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width: 50%;
    }
    .highlight {
      position:absolute;
      height:60%; 
      width:100px; 
      top:25%; 
      left:0;
      pointer-events:none;
      opacity:0.5;
    }
    input:focus ~ .highlight {
      animation:inputHighlighter 0.3s ease;
    }
  }

  /* ANIMATIONS ================ */
  @keyframes inputHighlighter {
    from { background:#fff; }
    to  { width:0; background:transparent; }
  }
  @include e('login-container') {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
  }
  
  @include e('signin-submit-button') {
    display: block;
    width: 100%;
    padding: 10px;
    color: #70d0d9;
    border: 1px solid #70D0D9;    
  }
  @include e('login-inner-container') {
    width: 260px;
    @include center-layout;
    > span {
      padding-top: 80px;
      color: #fff;
      font-size: 35px;
      text-align: center;
      display: block;
    }

    .todo-app__signup-button, .todo-app__login-button {
      background-color: #70d0d9;
      border: 1px solid #70d0d9;
      border-radius: 25px;
      width: 100%;
      display: block;
      color: #fff;
      text-align: center;
      padding:10px;
      margin-bottom: 10px;
    }
  }

  @keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }  
}