.todo-app__login-input {
  color:#fff;
  text-align: center;
  font-size: 12px;
  padding: 12px;
  width: 285px;
  display: block;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff;
}
.todo-app__login-input::-webkit-input-placeholder {
  color:#fff;
}
.todo-app__logo-container {
  color:#fff;
  text-align:center;
  margin-bottom: 20px;
}
.todo-app__login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.todo-app__login-submit {
  width: 285px;
  display: block;
  border: none;
  background: transparent;
  outline: none;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: -1px;
  font-size: 14px;
}