.todo-app {
  @include e('signup-form') {
    button {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 35px;
      color: #70d0d9;
      border: 1px solid #70D0D9;      
    }
  }
  @include e('login-back-button') {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: right;
    color: #777;    
  }
}