.todo-app {
  @include e('signup-form') {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 295px;

    button {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 35px;
      color: #70d0d9;
      border: 1px solid #70D0D9;      
    }
  }
}