.todo-items {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;  
  margin: 0;
  padding: 0;
  background-color: #F7FCFC;
}
.todo-item {
  padding: 13px 10px;
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #CBD4D6;
  width: 100%;
  p {
    position: relative;
    width: 30ch;
    padding-left: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
    transition: color .2s ease-in-out;
    @media screen and (max-width: 499px) {
      width: 70%;
    }
    @media screen and (min-width: 787px) {
      width: 85%;
    }    
  }
  span {
    float: right;
    line-height: 22px;
    color: #777;
    font-size: 11px;    
  }
  button {
    display: inline-block;
    cursor: pointer;
  }

  @include e('update-button') {
    position: relative;
    border: 1px solid #70D0D9;
    width:20px;
    height:20px;
    border-radius: 50%;

    svg {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      display: inline;  
      color: #fff; 
      opacity: 0;
      transition: .2s opacity ease-in-out;      
    }
  }
  @include e('remove-button') {
    float: right;
  }
}
.completed > p {
  text-decoration: line-through;
  color: rgba(0,0,0,0.2);
}

.completed > .todo-item__update-button {
  background-color:#70D0D9;

}
.completed > .todo-item__update-button > svg {
  opacity: 1;
}
.todo-item__remove-button {
  padding-top: 4px;
}
.todo-item__remove-button > svg {
  color: #c2255c;
}