.todo-items {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;  
  margin: 0;
  padding: 0;
  background-color: #F7FCFC;
}
.todo-item {
  display: table;
  width: 100%;
  padding: 10px;
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid #CBD4D6;
}
.todo-item > button {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
.todo-item > p {
  display: table-cell;
  margin:0;
  padding-left: 10px;
  margin-left: 10px;
  width: 390px;
  padding-right: 10px;  
}
.completed > p {
  text-decoration: line-through;
}

.todo-item__update-button {
  border: 1px solid #70D0D9;
  width:25px;
  height:25px;
  border-radius: 50%;
}
.todo-item__remove-button {
  border: none;
  outline: none;
  background: transparent;
}
.todo-item__update-button > svg {
  display: inline;  
  color: #fff; 
  opacity: 0;
  position: relative;
  left: -3px;
  top: 2px;  
  transition: .2s opacity ease-in-out;
}
.completed > .todo-item__update-button {
  background-color:#70D0D9;

}
.completed > .todo-item__update-button > svg {
  opacity: 1;
}
.todo-item__remove-button {
  padding-top: 4px;
}
.todo-item__remove-button > svg {
  color: #c2255c;
}