* {
  box-sizing : border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7FCFC;
  letter-spacing: -1px;
  font-size: 14px;
}
p {
  margin:0;
  padding: 0;
  letter-spacing: -1px;
  font-size: 14px;
}
input, button {
  background: transparent;
  border: none;
  outline: none;  
  letter-spacing: -1px;
}
li {
  list-style: none;
}