html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 14px;
  color: $defaultFontColor;
}

a {
  text-decoration: none;
  color: $defaultFontColor;
  display: block;
  outline: none;
}
p, h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  color: $defaultFontColor;
  font-weight: 400;
  margin:0;
  padding: 0;
  letter-spacing: -1px;
}
input, button {
  background: transparent;
  color: $defaultFontColor;
  border: none;
  outline: none;  
  letter-spacing: -1px;
}
p, ul, li {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}

.wtd-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}