html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -1px;
  font-size: 14px;
  color: #222; }

a {
  text-decoration: none;
  color: #222;
  display: block; }

p {
  margin: 0;
  padding: 0;
  letter-spacing: -1px; }

input, button {
  background: transparent;
  border: none;
  outline: none;
  letter-spacing: -1px; }

p, ul, li {
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

li {
  list-style: none; }

.wtd-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem; }

.todo-app__main-loading {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #70D0D9;
  border-radius: 50%; }
  .todo-app__main-loading:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 900ms ease-out forwards infinite; }
@keyframes loading {
  0% {
    border: 0px solid white;
    width: 0%;
    height: 0%; }
  20% {
    border: 8px solid white; }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%; } }
.wtd-header {
  height: 64px;
  line-height: 64px; }
  .wtd-header:after {
    content: "";
    display: table;
    clear: both; }
  .wtd-header__floating {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    backface-visibility: hidden;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.08);
    transition: background-color .3s ease; }
  .wtd-header__brand {
    float: left; }
  .wtd-header__actions-holder {
    float: right; }
  .wtd-header__action {
    display: inline-block;
    margin-right: 20px; }
    .wtd-header__action:last-child {
      margin-right: 0; }
  .wtd-header__action-link {
    position: relative;
    color: #6f6f6f;
    transition: color .25s ease; }
    .wtd-header__action-link:after {
      bottom: 0;
      border-top: 0 solid #e44232;
      content: '';
      display: block;
      opacity: 0;
      position: absolute;
      transition: all .25s ease;
      width: 100%; }
    .wtd-header__action-link:hover {
      color: #474747; }
      .wtd-header__action-link:hover:after {
        border-top-width: 2px;
        opacity: 1; }

.todo-app__sign-in-button {
  position: relative;
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  outline: none;
  margin-top: 12px;
  padding: 10px;
  color: #fff;
  letter-spacing: -1px;
  font-size: 13px; }

.todo-app__sign-in-button span {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  width: 40px;
  height: 34px;
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.4); }

.todo-app__sign-in-google {
  background-color: #dd4b39; }

.todo-app__sign-in-facebook {
  background-color: #3b5998; }

.todo-app__sign-in-github {
  background-color: #444; }

.todo-app__sign-in-button svg {
  font-size: 16px; }

.todo-app__logout-button {
  cursor: pointer;
  color: #fff; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 20px;
  height: 18px;
  left: 15px;
  top: 15px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  height: 18%;
  background: #fff; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #fff; }

/* General sidebar styles */
.bm-menu {
  background: #70D0D9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  transition: all .5s ease-in-out; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #70D0D9;
  transition: all .5s ease-in-out; }

/* Wrapper for item list */
.bm-item-list {
  color: #fff; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.user-info {
  width: 200px;
  text-align: center;
  margin-left: 13px; }
  .user-info__image-wrapper {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden; }
  .user-info__name {
    margin: 10px 0; }
  .user-info img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.todo-app__user-setting-button {
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  display: block;
  color: #fff; }
  .todo-app__user-setting-button svg {
    margin-right: 5px;
    position: relative;
    font-size: 20px;
    top: 2px; }

.swatches-picker {
  position: relative;
  margin: 10px auto; }

.todo-app__user-setting {
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: #F7FCFC;
  transform: translateX(-100%);
  opacity: 0;
  transition: all .1s ease-in-out; }
  .todo-app__user-setting.open {
    transform: translateX(0);
    opacity: 1; }
  .todo-app__user-setting header {
    padding: 13px 10px 12px 10px;
    background-color: #70D0D9;
    transition: all .5s ease-in-out; }
    .todo-app__user-setting header button {
      display: inline-block;
      color: #fff; }
    .todo-app__user-setting header p {
      display: inline-block;
      padding-left: 10px; }

.todo-app__user-setting-content {
  padding: 0 10px 10px 10px;
  color: #444; }

.add-todo-item {
  width: 100%;
  padding: 12px 45px 12px 12px;
  color: rgba(0, 0, 0, 0.6); }

.todo-app__add-todo-item-container {
  position: relative; }

.todo-app__write-button {
  position: absolute;
  color: #70D0D9;
  font-size: 18px;
  cursor: pointer;
  top: 9px;
  right: 5px; }

.add-todo-item:focus button {
  opacity: 1; }

.add-todo-item:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color .2s ease-in-out; }

.todo-app__login-input {
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 12px;
  width: 285px;
  display: block;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff; }

.todo-app__login-input::-webkit-input-placeholder {
  color: #fff; }

.todo-app__logo-container {
  color: #fff;
  text-align: center;
  margin-bottom: 20px; }

.todo-app__login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.todo-app__login-submit {
  width: 285px;
  display: block;
  border: none;
  background: transparent;
  outline: none;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: -1px;
  font-size: 14px; }

.todo-items {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  margin: 0;
  padding: 0;
  background-color: #F7FCFC; }

.todo-items__empty-title {
  margin-top: 30px;
  text-align: center;
  font-size: 18px; }

.todo-item__date-label {
  background-color: rgba(203, 212, 214, 0.3);
  color: #70D0D9;
  padding: 10px; }

.todo-item {
  padding: 13px 10px;
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #CBD4D6;
  width: 100%; }
  .todo-item p {
    position: relative;
    width: 30ch;
    padding-left: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
    transition: color .2s ease-in-out; }
    @media screen and (max-width: 499px) {
      .todo-item p {
        width: 70%; } }
    @media screen and (min-width: 787px) {
      .todo-item p {
        width: 85%; } }
  .todo-item span {
    float: right;
    line-height: 25px;
    color: #777;
    font-size: 10px; }
  .todo-item button {
    display: inline-block;
    cursor: pointer; }
  .todo-item__update-button {
    position: relative;
    border: 1px solid #70D0D9;
    width: 20px;
    height: 20px;
    border-radius: 50%; }
    .todo-item__update-button svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline;
      color: #fff;
      opacity: 0;
      transition: .2s opacity ease-in-out; }
  .todo-item__revise-button {
    width: 20px;
    height: 20px;
    float: right;
    color: #777;
    font-size: 18px;
    margin-left: 5px;
    padding: 0;
    padding-top: 1px; }

.completed > p {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2); }

.completed > .todo-item__update-button {
  background-color: #70D0D9; }

.completed > .todo-item__update-button > svg {
  opacity: 1; }

.todo-item__remove-button {
  padding-top: 4px; }

.todo-item__remove-button > svg {
  color: #c2255c; }

.todo-app__revise-modal-container {
  padding: 10px;
  min-height: 150px;
  min-width: 260px;
  color: #777; }
  .todo-app__revise-modal-container header {
    margin-bottom: 10px; }
    .todo-app__revise-modal-container header span {
      font-size: 22px; }
  .todo-app__revise-modal-container > div button {
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: #fff; }
  .todo-app__revise-modal-container form textarea {
    margin-top: 5px;
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid #ddd;
    padding: 5px; }
    .todo-app__revise-modal-container form textarea:focus {
      outline: none; }

.todo-app__revise-modal-close-button {
  top: 3px;
  cursor: pointer;
  position: relative;
  float: right;
  display: inline-block;
  width: 16px;
  height: 16px; }
  .todo-app__revise-modal-close-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 2px;
    height: 100%;
    content: "";
    display: block;
    background-color: #777; }
  .todo-app__revise-modal-close-button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 2px;
    height: 100%;
    content: "";
    display: block;
    background-color: #777; }

.todo-app__remove-todo-item {
  background-color: #c2255c; }

.todo-app__revise-todo-item {
  background-color: #009688; }

.todo-app__chat-button {
  cursor: pointer;
  z-index: 10;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  background-color: #70D0D9;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  animation: pulse 1.5s infinite; }
  .todo-app__chat-button:hover {
    animation: none; }
.todo-app__chat-container {
  position: fixed;
  border: 1px solid #ddd;
  overflow: hidden;
  width: 285px;
  height: 450px;
  bottom: 0;
  right: 0;
  padding: 0;
  z-index: 11;
  background-color: #fff;
  border-top-left-radius: 10px;
  transition: all .4s ease-in-out;
  transform: translateY(100%);
  opacity: 0; }
  .todo-app__chat-container header {
    height: 35px;
    background-color: #70D0D9;
    color: #fff;
    padding: 10px; }
    .todo-app__chat-container header button {
      cursor: pointer;
      position: relative;
      float: right;
      display: inline-block;
      width: 16px;
      height: 16px;
      color: #fff; }
      .todo-app__chat-container header button:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 2px;
        height: 100%;
        content: "";
        display: block;
        background-color: #fff; }
      .todo-app__chat-container header button:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 2px;
        height: 100%;
        content: "";
        display: block;
        background-color: #fff; }
  .todo-app__chat-container ul li {
    margin: 10px 0;
    font-size: 12px; }
    .todo-app__chat-container ul li:after {
      content: "";
      display: table;
      clear: both; }
    .todo-app__chat-container ul li.self p {
      float: right; }
    .todo-app__chat-container ul li.self > span {
      display: none; }
    .todo-app__chat-container ul li.self em {
      display: none; }
    .todo-app__chat-container ul li em {
      color: #333;
      display: inline-block;
      position: relative;
      top: -3px;
      left: 3px;
      font-style: normal; }
    .todo-app__chat-container ul li p {
      overflow: hidden;
      position: relative;
      background-color: #f0f0f0;
      border-radius: 5px;
      padding: 10px;
      color: #333333;
      margin-top: 2px;
      width: 90%;
      min-height: 55px; }
      .todo-app__chat-container ul li p span {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 10px; }
    .todo-app__chat-container ul li > span {
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #ddd;
      border-radius: 50%;
      overflow: hidden; }
      .todo-app__chat-container ul li > span img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .todo-app__chat-container form {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    padding: 10px;
    border-top: 1px solid #ddd; }
    .todo-app__chat-container form input {
      width: 100%;
      padding-right: 30px;
      font-size: 12px; }
    .todo-app__chat-container form button {
      color: #70D0D9;
      position: absolute;
      bottom: 3px;
      font-size: 20px;
      cursor: pointer;
      right: 3px; }
  .todo-app__chat-container.chat-button-open {
    transform: translateY(0);
    opacity: 1; }
.todo-app__chat-content {
  height: 378px;
  overflow-y: auto;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px; }
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
.todo-app__signup-form button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 35px;
  color: #70d0d9;
  border: 1px solid #70D0D9; }
.todo-app__login-back-button {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: right;
  color: #777; }

.todo-app {
  /* ANIMATIONS ================ */ }
  .todo-app__logo-icon {
    color: #70d0d9;
    display: block;
    text-align: center; }
  .todo-app__logo-title {
    text-align: center;
    display: block;
    font-size: 24px;
    margin: 10px 0;
    color: #333; }
  .todo-app__logo-description {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #777;
    margin-bottom: 30px; }
  .todo-app .todo-app__signin-input-group, .todo-app .todo-app__signup-input-group {
    position: relative;
    margin-bottom: 30px; }
    .todo-app .todo-app__signin-input-group input, .todo-app .todo-app__signup-input-group input {
      font-size: 14px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd; }
      .todo-app .todo-app__signin-input-group input:focus, .todo-app .todo-app__signup-input-group input:focus {
        outline: none; }
    .todo-app .todo-app__signin-input-group label, .todo-app .todo-app__signup-input-group label {
      color: #999;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all; }
    .todo-app .todo-app__signin-input-group input:focus ~ label, .todo-app .todo-app__signin-input-group input:valid ~ label, .todo-app .todo-app__signup-input-group input:focus ~ label, .todo-app .todo-app__signup-input-group input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #70D0D9; }
    .todo-app .todo-app__signin-input-group .bar, .todo-app .todo-app__signup-input-group .bar {
      position: relative;
      display: block;
      width: 100%; }
      .todo-app .todo-app__signin-input-group .bar:before, .todo-app .todo-app__signin-input-group .bar:after, .todo-app .todo-app__signup-input-group .bar:before, .todo-app .todo-app__signup-input-group .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #70D0D9;
        transition: 0.2s ease all; }
      .todo-app .todo-app__signin-input-group .bar:before, .todo-app .todo-app__signup-input-group .bar:before {
        left: 50%; }
      .todo-app .todo-app__signin-input-group .bar:after, .todo-app .todo-app__signup-input-group .bar:after {
        right: 50%; }
    .todo-app .todo-app__signin-input-group input:focus ~ .bar:before, .todo-app .todo-app__signin-input-group input:focus ~ .bar:after, .todo-app .todo-app__signup-input-group input:focus ~ .bar:before, .todo-app .todo-app__signup-input-group input:focus ~ .bar:after {
      width: 50%; }
    .todo-app .todo-app__signin-input-group .highlight, .todo-app .todo-app__signup-input-group .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5; }
    .todo-app .todo-app__signin-input-group input:focus ~ .highlight, .todo-app .todo-app__signup-input-group input:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease; }
@keyframes inputHighlighter {
  from {
    background: #fff; }
  to {
    width: 0;
    background: transparent; } }
  .todo-app__login-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh; }
  .todo-app__signin-submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    color: #70d0d9;
    border: 1px solid #70D0D9; }
  .todo-app__login-inner-container {
    width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .todo-app__login-inner-container > span {
      padding-top: 80px;
      color: #fff;
      font-size: 35px;
      text-align: center;
      display: block; }
    .todo-app__login-inner-container .todo-app__signup-button, .todo-app__login-inner-container .todo-app__login-button {
      background-color: #70d0d9;
      border: 1px solid #70d0d9;
      border-radius: 25px;
      width: 100%;
      display: block;
      color: #fff;
      text-align: center;
      padding: 10px;
      margin-bottom: 10px; }
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.todo-app__user-setting-content {
  font-size: 14px; }
  .todo-app__user-setting-content > p {
    font-size: 13px;
    color: #70D0D9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 30px; }
  .todo-app__user-setting-content > div {
    padding-top: 10px;
    padding-bottom: 10px; }

.todo-app {
  position: relative;
  height: 100vh; }

.todo-app__content {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  height: calc(100vh - 50px); }

/*# sourceMappingURL=index.css.map */
