html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 14px;
  color: #6f6f6f; }

a {
  text-decoration: none;
  color: #6f6f6f;
  display: block;
  outline: none; }

p, h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  color: #6f6f6f;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: -1px; }

input, button {
  padding: 0;
  margin: 0;
  background: transparent;
  color: #6f6f6f;
  border: none;
  outline: none;
  letter-spacing: -1px; }

p, ul, li {
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

li {
  list-style: none; }

.wtd-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem; }
  .wtd-container:after {
    content: "";
    display: table;
    clear: both; }

.wtd-dashboard {
  position: relative; }

.wtd-dashboard__loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100; }

.todo-app__main-loading {
  z-index: 101;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #e44232;
  border-radius: 50%; }
  .todo-app__main-loading:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 900ms ease-out forwards infinite; }
@keyframes loading {
  0% {
    border: 0px solid white;
    width: 0%;
    height: 0%; }
  20% {
    border: 8px solid white; }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%; } }
.wtd-header {
  height: 64px;
  line-height: 64px; }
  .wtd-header.wtd-header--is-detached .wtd-header__action-link--sign-up {
    color: #e44232;
    border-radius: 4px;
    border: 2px solid #e44232;
    padding: 8px 18px;
    display: inline;
    transition: all .25s ease; }
    .wtd-header.wtd-header--is-detached .wtd-header__action-link--sign-up:hover {
      transition: all .25s ease;
      background-color: #e44232;
      color: #fff; }
      .wtd-header.wtd-header--is-detached .wtd-header__action-link--sign-up:hover:after {
        border: none; }
  .wtd-header:after {
    content: "";
    display: table;
    clear: both; }
  .wtd-header__floating {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    backface-visibility: hidden;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.08);
    transition: background-color .3s ease; }
  .wtd-header__brand {
    float: left; }
  .wtd-header__actions-holder {
    float: right; }
  .wtd-header__action {
    display: inline-block;
    margin-right: 20px; }
    .wtd-header__action:last-child {
      margin-right: 0; }
  .wtd-header__action-link {
    position: relative;
    transition: all .4s ease;
    font-size: 15px;
    font-weight: 300; }
    .wtd-header__action-link:after {
      bottom: 0;
      width: 0;
      border-top: 0 solid #e44232;
      content: '';
      display: block;
      opacity: 0;
      position: absolute;
      transition: all .4s ease; }
    .wtd-header__action-link:hover {
      color: #474747; }
      .wtd-header__action-link:hover:after {
        width: 100%;
        border-top-width: 2px;
        opacity: 1; }

.ReactModal__Content {
  opacity: 0;
  transform: scale(0.8); }

.ReactModal__Content--after-open {
  opacity: 1;
  transition: all .2s ease-in-out;
  transform: scale(1); }

.ReactModal__Content--before-close {
  opacity: 0;
  transform: scale(0.8); }

.wtd-footer {
  background-color: #f7f7f7;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  padding: 1.5rem 0 1rem; }
  .wtd-footer__separator {
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid #e1e1e1; }
  .wtd-footer__copyright {
    display: inline-block;
    font-size: 12px; }
  .wtd-footer__site-nav-container:after {
    content: "";
    display: table;
    clear: both; }
  .wtd-footer__site-nav {
    float: left;
    width: 16.66666667%;
    margin-bottom: 20px; }
    .wtd-footer__site-nav h2 {
      font-size: 14px;
      margin-bottom: 15px; }

.todo-app__sign-in-button {
  position: relative;
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  outline: none;
  margin-top: 12px;
  padding: 10px;
  color: #fff;
  letter-spacing: -1px;
  font-size: 13px; }

.todo-app__sign-in-button span {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  width: 40px;
  height: 34px;
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.4); }

.todo-app__sign-in-google {
  background-color: #dd4b39; }

.todo-app__sign-in-facebook {
  background-color: #3b5998; }

.todo-app__sign-in-github {
  background-color: #444; }

.todo-app__sign-in-button svg {
  font-size: 16px; }

.todo-app__logout-button {
  cursor: pointer;
  color: #fff; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 20px;
  height: 18px;
  left: 15px;
  top: 15px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  height: 18%;
  background: #fff; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #fff; }

/* General sidebar styles */
.bm-menu {
  background: #70D0D9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  transition: all .5s ease-in-out; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #70D0D9;
  transition: all .5s ease-in-out; }

/* Wrapper for item list */
.bm-item-list {
  color: #fff; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.user-info {
  width: 200px;
  text-align: center;
  margin-left: 13px; }
  .user-info__image-wrapper {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden; }
  .user-info__name {
    margin: 10px 0; }
  .user-info img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.todo-app__user-setting-button {
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  display: block;
  color: #fff; }
  .todo-app__user-setting-button svg {
    margin-right: 5px;
    position: relative;
    font-size: 20px;
    top: 2px; }

.swatches-picker {
  position: relative;
  margin: 10px auto; }

.todo-app__user-setting {
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: #F7FCFC;
  transform: translateX(-100%);
  opacity: 0;
  transition: all .1s ease-in-out; }
  .todo-app__user-setting.open {
    transform: translateX(0);
    opacity: 1; }
  .todo-app__user-setting header {
    padding: 13px 10px 12px 10px;
    background-color: #70D0D9;
    transition: all .5s ease-in-out; }
    .todo-app__user-setting header button {
      display: inline-block;
      color: #fff; }
    .todo-app__user-setting header p {
      display: inline-block;
      padding-left: 10px; }

.todo-app__user-setting-content {
  padding: 0 10px 10px 10px;
  color: #444; }

.wtd-main-banner {
  height: calc(100vh - 64px);
  background-image: url(http://via.placeholder.com/1920x1000);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.wtd-brand-intro {
  padding: 50px 0;
  text-align: center; }
  .wtd-brand-intro p {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 0; }
  .wtd-brand-intro a {
    display: inline-block;
    border-radius: 5px;
    border-color: #e44232;
    padding: 20px 40px;
    background-color: #e44232;
    color: #fff;
    letter-spacing: 0; }

.wtd-about-developer {
  border-top: 1px solid #e1e1e1;
  padding: 50px 0;
  text-align: center; }
  .wtd-about-developer p {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 0; }
  .wtd-about-developer a {
    color: #e44232;
    letter-spacing: 0; }
    .wtd-about-developer a:hover {
      text-decoration: underline; }

.wtd-no-match {
  margin: 53px auto;
  max-width: 400px;
  text-align: left;
  padding: 20px;
  background: #fff; }
  .wtd-no-match__logo {
    margin-bottom: 60px; }
  .wtd-no-match__support {
    font-size: 14px;
    margin: 8px 0 0;
    line-height: 20px; }
    .wtd-no-match__support a {
      display: inline;
      color: #e44232; }
  .wtd-no-match h3 {
    font-size: 25px;
    line-height: 33px;
    margin: 25px 0; }

.wtd-dashboard {
  background-color: #fafafa; }

.wtd-dashboard-header {
  position: fixed;
  width: 100%;
  background-color: #3d3d3d;
  height: 43px;
  z-index: 2; }
  .wtd-dashboard-header__inner {
    padding: 13px 0 10px 0; }
    .wtd-dashboard-header__inner:after {
      content: "";
      display: table;
      clear: both; }
    .wtd-dashboard-header__inner a {
      color: #fff; }
  .wtd-dashboard-header__logo-holder {
    float: left; }
  .wtd-dashboard-header__actions-holder {
    float: right; }
  .wtd-dashboard-header__actions {
    display: inline-block;
    margin-right: 30px; }
    .wtd-dashboard-header__actions:last-child {
      margin-right: 0; }
  .wtd-dashboard-header__action {
    color: #fff;
    font-size: 18px;
    position: relative; }
    .wtd-dashboard-header__action--add {
      position: relative;
      top: 1px;
      transform: rotate(45deg);
      width: 16px;
      height: 16px; }
      .wtd-dashboard-header__action--add:before, .wtd-dashboard-header__action--add:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: #6f6f6f;
        opacity: .15; }
      .wtd-dashboard-header__action--add:before {
        transform: translate(-50%, -50%) rotate(45deg); }
      .wtd-dashboard-header__action--add:after {
        transform: translate(-50%, -50%) rotate(-45deg); }
      .wtd-dashboard-header__action--add:before, .wtd-dashboard-header__action--add:after {
        background-color: #fff;
        opacity: 1; }
    .wtd-dashboard-header__action span {
      font-size: 12px;
      font-weight: 300;
      margin-left: 6px;
      color: #cecece;
      display: inline-block;
      vertical-align: middle; }
    .wtd-dashboard-header__action--setting:hover {
      animation: rotateButton 2s linear infinite; }
@keyframes rotateButton {
  to {
    transform: rotateZ(720deg); } }
.wtd-dashboard-header__setting-panels {
  width: 100%; }
  .wtd-dashboard-header__setting-panels td {
    cursor: pointer;
    padding: 10px 12px;
    font-size: 12px; }
    .wtd-dashboard-header__setting-panels td span {
      color: #999;
      font-size: 11px; }
    .wtd-dashboard-header__setting-panels td a {
      color: #999;
      display: inline-block;
      margin-left: 2px; }
      .wtd-dashboard-header__setting-panels td a:hover {
        text-decoration: underline; }
    .wtd-dashboard-header__setting-panels td.separator {
      padding: 4px 0; }
      .wtd-dashboard-header__setting-panels td.separator > div {
        padding: 0;
        height: 1px;
        background-color: #ddd; }

.wtd-dashboard-user-setting__header {
  position: fixed;
  display: block;
  padding: 15px 25px 15px 18px;
  width: 100%;
  height: 44px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  z-index: 10; }
  .wtd-dashboard-user-setting__header:after {
    content: "";
    display: table;
    clear: both; }
  .wtd-dashboard-user-setting__header p {
    position: relative;
    top: -1px;
    float: left;
    font-size: 18px; }
  .wtd-dashboard-user-setting__header button {
    font-size: 14px;
    float: right;
    position: relative;
    opacity: .5;
    transition: opacity .35s ease; }
    .wtd-dashboard-user-setting__header button:hover {
      opacity: 1; }
    .wtd-dashboard-user-setting__header button span:nth-of-type(1) {
      vertical-align: top;
      display: inline-block; }
    .wtd-dashboard-user-setting__header button .wtd-dashboard-user-setting__close-button {
      position: relative;
      display: inline-block;
      width: 23px;
      height: 23px;
      top: -3px; }
      .wtd-dashboard-user-setting__header button .wtd-dashboard-user-setting__close-button:before, .wtd-dashboard-user-setting__header button .wtd-dashboard-user-setting__close-button:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: #6f6f6f;
        opacity: .15; }
      .wtd-dashboard-user-setting__header button .wtd-dashboard-user-setting__close-button:before {
        transform: translate(-50%, -50%) rotate(45deg); }
      .wtd-dashboard-user-setting__header button .wtd-dashboard-user-setting__close-button:after {
        transform: translate(-50%, -50%) rotate(-45deg); }
      .wtd-dashboard-user-setting__header button .wtd-dashboard-user-setting__close-button:before, .wtd-dashboard-user-setting__header button .wtd-dashboard-user-setting__close-button:after {
        left: 66%;
        top: 47%;
        opacity: 1; }

.wtd-dashboard-user-setting__panel {
  min-height: 22px;
  font-size: 14px;
  color: #333;
  list-style: none;
  cursor: pointer;
  padding: 9px 0;
  transition: color .1s ease-in,background-color .1s ease-in;
  line-height: 1.25; }
  .wtd-dashboard-user-setting__panel:hover {
    background-color: #fff; }
  .wtd-dashboard-user-setting__panel span {
    display: inline-block; }
  .wtd-dashboard-user-setting__panel small {
    display: inline-block;
    margin-left: 4px;
    color: #aaa;
    font-size: 11px; }
  .wtd-dashboard-user-setting__panel.current {
    background-color: #fff;
    font-weight: bold; }
    .wtd-dashboard-user-setting__panel.current small {
      color: #e44232; }
.wtd-dashboard-user-setting__panel-icon {
  color: #6f6f6f;
  font-size: 20px;
  width: 25px;
  padding-left: 8px; }
.wtd-dashboard-user-setting__panel-title {
  padding-left: 20px; }

.wtd-dashboard-user-setting__content {
  padding-top: 44px;
  height: 100vh;
  position: relative;
  background-color: #fafafa; }
  .wtd-dashboard-user-setting__content:after {
    content: "";
    display: table;
    clear: both; }

.wtd-dashboard-user-setting__left-side-content {
  float: left;
  width: 260px;
  padding-right: 30px;
  padding-top: 80px;
  border-right: 1px solid #f1f1f1; }

.wtd-dashboard-user-setting__right-side-content {
  float: left;
  width: calc(100% - 260px);
  height: calc(100vh - 44px);
  padding: 80px 25px 12px 45px;
  background-color: #fff;
  border-right: 1px solid #f1f1f1; }

.wtd-dashboard-aside-menu {
  float: left;
  width: 260px;
  padding-right: 30px;
  height: 100vh;
  padding-top: 80px;
  border-right: 1px solid #f1f1f1; }
  .wtd-dashboard-aside-menu__panel {
    min-height: 22px;
    font-size: 14px;
    color: #333;
    list-style: none;
    cursor: pointer;
    padding: 9px 0;
    transition: color .1s ease-in,background-color .1s ease-in;
    line-height: 1.25; }
    .wtd-dashboard-aside-menu__panel span {
      display: inline-block; }
    .wtd-dashboard-aside-menu__panel small {
      display: inline-block;
      margin-left: 4px;
      color: #aaa;
      font-size: 11px; }
    .wtd-dashboard-aside-menu__panel.current {
      background-color: #fff;
      font-weight: bold; }
      .wtd-dashboard-aside-menu__panel.current small {
        color: #e44232; }
  .wtd-dashboard-aside-menu__panel-icon {
    color: #6f6f6f;
    font-size: 20px;
    width: 25px;
    padding-left: 8px; }
  .wtd-dashboard-aside-menu__panel-title {
    padding-left: 20px; }
  .wtd-dashboard-aside-menu__tabs {
    margin-top: 30px; }
    .wtd-dashboard-aside-menu__tabs table {
      width: 100%; }
    .wtd-dashboard-aside-menu__tabs td {
      width: 50%;
      cursor: pointer;
      font-size: 13px;
      line-height: 1;
      padding: 0 5px 5px 2px;
      text-align: center;
      color: #999;
      border-bottom: 1px solid #e0e0e0;
      transition: color .1s ease-in; }
    .wtd-dashboard-aside-menu__tabs.project td.project {
      border-bottom: solid 1px #737373;
      font-weight: bold;
      color: #555; }
    .wtd-dashboard-aside-menu__tabs.filters td.filters {
      border-bottom: solid 1px #737373;
      font-weight: bold;
      color: #555; }

.wtd-signup-modal__inner-container {
  padding: 0 15px; }
.wtd-signup-modal__header:after {
  content: "";
  display: table;
  clear: both; }
.wtd-signup-modal__header p {
  float: left; }
.wtd-signup-modal__close-btn-wrap {
  display: block;
  float: right; }
  .wtd-signup-modal__close-btn-wrap > button {
    display: block;
    position: relative;
    width: 15px;
    height: 15px; }
    .wtd-signup-modal__close-btn-wrap > button:hover:before, .wtd-signup-modal__close-btn-wrap > button:hover:after {
      opacity: .4; }
    .wtd-signup-modal__close-btn-wrap > button:before, .wtd-signup-modal__close-btn-wrap > button:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 100%;
      background-color: #6f6f6f;
      opacity: .15; }
    .wtd-signup-modal__close-btn-wrap > button:before {
      transform: translate(-50%, -50%) rotate(45deg); }
    .wtd-signup-modal__close-btn-wrap > button:after {
      transform: translate(-50%, -50%) rotate(-45deg); }
.wtd-signup-modal__social-login {
  margin-top: 20px; }
  .wtd-signup-modal__social-login > button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px 12px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all .3s ease-in-out; }
    .wtd-signup-modal__social-login > button:before {
      content: "";
      position: relative;
      top: 3px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-position: 50% 50%;
      background-size: 16px 16px;
      margin-right: 8px; }
    .wtd-signup-modal__social-login > button:nth-of-type(1):before {
      background-image: url("../assets/images/icon/google-icon.svg"); }
    .wtd-signup-modal__social-login > button:nth-of-type(2):before {
      background-image: url("../assets/images/icon/facebook-icon.svg"); }
    .wtd-signup-modal__social-login > button:nth-of-type(3):before {
      background-image: url("../assets/images/icon/github-icon.svg"); }
    .wtd-signup-modal__social-login > button:hover {
      font-weight: 600;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
    .wtd-signup-modal__social-login > button:last-child {
      margin-bottom: 0; }
.wtd-signup-modal__separator {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border-top: 1px solid #ddd; }
  .wtd-signup-modal__separator span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 16px;
    color: #ccc;
    background: #fff;
    font-size: 11px; }
.wtd-signup-modal__signup-form label {
  position: relative; }
  .wtd-signup-modal__signup-form label svg {
    position: absolute;
    top: 13px;
    left: 12px;
    fill: #6f6f6f;
    opacity: .5;
    width: 1.1em !important;
    font-size: 15px; }
.wtd-signup-modal__signup-form input {
  display: block;
  font-size: 13px;
  font-weight: normal;
  width: 100%;
  padding: 13px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding-left: 45px;
  transition: all .2s ease-in-out; }
  .wtd-signup-modal__signup-form input:focus {
    border-color: #e44232; }
  .wtd-signup-modal__signup-form input:focus::-webkit-input-placeholder {
    color: transparent;
    transition: color .2s ease-in-out; }
  .wtd-signup-modal__signup-form input[type="submit"] {
    cursor: pointer;
    background-color: #db4c3f;
    color: #fff;
    padding-left: 13px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all .3s ease; }
    .wtd-signup-modal__signup-form input[type="submit"]:hover {
      background-color: #c53727;
      border-color: #c53727;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.wtd-login-modal__help-block p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300; }
  .wtd-login-modal__help-block p a {
    color: #e44232;
    display: inline-block;
    margin-left: 5px;
    font-weight: 400; }

.add-todo-item {
  width: 100%;
  padding: 12px 45px 12px 12px;
  color: rgba(0, 0, 0, 0.6); }

.todo-app__add-todo-item-container {
  position: relative; }

.todo-app__write-button {
  position: absolute;
  color: #70D0D9;
  font-size: 18px;
  cursor: pointer;
  top: 9px;
  right: 5px; }

.add-todo-item:focus button {
  opacity: 1; }

.add-todo-item:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color .2s ease-in-out; }

.wtd-dashboard__add-todo-item {
  margin-top: 15px;
  opacity: .6;
  transition: opacity .3s ease-in-out; }
  .wtd-dashboard__add-todo-item span {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    top: -1px; }
  .wtd-dashboard__add-todo-item:hover {
    text-decoration: underline;
    opacity: 1; }

.todo-app__login-input {
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 12px;
  width: 285px;
  display: block;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff; }

.todo-app__login-input::-webkit-input-placeholder {
  color: #fff; }

.todo-app__logo-container {
  color: #fff;
  text-align: center;
  margin-bottom: 20px; }

.todo-app__login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.todo-app__login-submit {
  width: 285px;
  display: block;
  border: none;
  background: transparent;
  outline: none;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: -1px;
  font-size: 14px; }

.todo-items {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  margin: 0;
  padding: 0;
  background-color: #F7FCFC; }

.todo-items__empty-title {
  margin-top: 30px;
  text-align: center;
  font-size: 18px; }

.todo-item__date-label {
  background-color: rgba(203, 212, 214, 0.3);
  color: #70D0D9;
  padding: 10px; }

.todo-item {
  padding: 13px 10px;
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #CBD4D6;
  width: 100%; }
  .todo-item p {
    position: relative;
    width: 30ch;
    padding-left: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
    transition: color .2s ease-in-out; }
    @media screen and (max-width: 499px) {
      .todo-item p {
        width: 70%; } }
    @media screen and (min-width: 787px) {
      .todo-item p {
        width: 85%; } }
  .todo-item span {
    float: right;
    line-height: 25px;
    color: #777;
    font-size: 10px; }
  .todo-item button {
    display: inline-block;
    cursor: pointer; }
  .todo-item__update-button {
    position: relative;
    border: 1px solid #70D0D9;
    width: 20px;
    height: 20px;
    border-radius: 50%; }
    .todo-item__update-button svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline;
      color: #fff;
      opacity: 0;
      transition: .2s opacity ease-in-out; }
  .todo-item__revise-button {
    width: 20px;
    height: 20px;
    float: right;
    color: #777;
    font-size: 18px;
    margin-left: 5px;
    padding: 0;
    padding-top: 1px; }

.completed > p {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2); }

.completed > .todo-item__update-button {
  background-color: #70D0D9; }

.completed > .todo-item__update-button > svg {
  opacity: 1; }

.todo-item__remove-button {
  padding-top: 4px; }

.todo-item__remove-button > svg {
  color: #c2255c; }

.todo-app__revise-modal-container {
  padding: 10px;
  min-height: 150px;
  min-width: 260px;
  color: #777; }
  .todo-app__revise-modal-container header {
    margin-bottom: 10px; }
    .todo-app__revise-modal-container header span {
      font-size: 22px; }
  .todo-app__revise-modal-container > div button {
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: #fff; }
  .todo-app__revise-modal-container form textarea {
    margin-top: 5px;
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid #ddd;
    padding: 5px; }
    .todo-app__revise-modal-container form textarea:focus {
      outline: none; }

.todo-app__revise-modal-close-button {
  top: 3px;
  cursor: pointer;
  position: relative;
  float: right;
  display: inline-block;
  width: 16px;
  height: 16px; }
  .todo-app__revise-modal-close-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 2px;
    height: 100%;
    content: "";
    display: block;
    background-color: #777; }
  .todo-app__revise-modal-close-button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 2px;
    height: 100%;
    content: "";
    display: block;
    background-color: #777; }

.todo-app__remove-todo-item {
  background-color: #c2255c; }

.todo-app__revise-todo-item {
  background-color: #009688; }

.wtd-dashboard__todo-items-container > div {
  margin-bottom: 40px; }
.wtd-dashboard__todo-items-container .wtd-dashboard__todo-items-header {
  font-size: 20px;
  font-weight: normal;
  margin: 0 20px 30px 0; }
.wtd-dashboard__todo-items-container > div:nth-of-type(1) > h2 {
  color: #e44232; }
.wtd-dashboard__todo-items-container .wtd-dashboard__todo-items-subsection-header {
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: .5em;
  margin-right: 28px;
  margin-bottom: 0; }
  .wtd-dashboard__todo-items-container .wtd-dashboard__todo-items-subsection-header span {
    color: #999;
    margin-left: 6px;
    font-size: 11px;
    font-weight: normal; }

.todo-app__chat-button {
  cursor: pointer;
  z-index: 10;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  background-color: #70D0D9;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  animation: pulse 1.5s infinite; }
  .todo-app__chat-button:hover {
    animation: none; }
.todo-app__chat-container {
  position: fixed;
  border: 1px solid #ddd;
  overflow: hidden;
  width: 285px;
  height: 450px;
  bottom: 0;
  right: 0;
  padding: 0;
  z-index: 11;
  background-color: #fff;
  border-top-left-radius: 10px;
  transition: all .4s ease-in-out;
  transform: translateY(100%);
  opacity: 0; }
  .todo-app__chat-container header {
    height: 35px;
    background-color: #70D0D9;
    color: #fff;
    padding: 10px; }
    .todo-app__chat-container header button {
      cursor: pointer;
      position: relative;
      float: right;
      display: inline-block;
      width: 16px;
      height: 16px;
      color: #fff; }
      .todo-app__chat-container header button:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 2px;
        height: 100%;
        content: "";
        display: block;
        background-color: #fff; }
      .todo-app__chat-container header button:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 2px;
        height: 100%;
        content: "";
        display: block;
        background-color: #fff; }
  .todo-app__chat-container ul li {
    margin: 10px 0;
    font-size: 12px; }
    .todo-app__chat-container ul li:after {
      content: "";
      display: table;
      clear: both; }
    .todo-app__chat-container ul li.self p {
      float: right; }
    .todo-app__chat-container ul li.self > span {
      display: none; }
    .todo-app__chat-container ul li.self em {
      display: none; }
    .todo-app__chat-container ul li em {
      color: #333;
      display: inline-block;
      position: relative;
      top: -3px;
      left: 3px;
      font-style: normal; }
    .todo-app__chat-container ul li p {
      overflow: hidden;
      position: relative;
      background-color: #f0f0f0;
      border-radius: 5px;
      padding: 10px;
      color: #333333;
      margin-top: 2px;
      width: 90%;
      min-height: 55px; }
      .todo-app__chat-container ul li p span {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 10px; }
    .todo-app__chat-container ul li > span {
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #ddd;
      border-radius: 50%;
      overflow: hidden; }
      .todo-app__chat-container ul li > span img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .todo-app__chat-container form {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    padding: 10px;
    border-top: 1px solid #ddd; }
    .todo-app__chat-container form input {
      width: 100%;
      padding-right: 30px;
      font-size: 12px; }
    .todo-app__chat-container form button {
      color: #70D0D9;
      position: absolute;
      bottom: 3px;
      font-size: 20px;
      cursor: pointer;
      right: 3px; }
  .todo-app__chat-container.chat-button-open {
    transform: translateY(0);
    opacity: 1; }
.todo-app__chat-content {
  height: 378px;
  overflow-y: auto;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px; }
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
.todo-app__signup-form button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 35px;
  color: #70d0d9;
  border: 1px solid #70D0D9; }
.todo-app__login-back-button {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: right;
  color: #777; }

.todo-app {
  /* ANIMATIONS ================ */ }
  .todo-app__logo-icon {
    color: #70d0d9;
    display: block;
    text-align: center; }
  .todo-app__logo-title {
    text-align: center;
    display: block;
    font-size: 24px;
    margin: 10px 0;
    color: #333; }
  .todo-app__logo-description {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #777;
    margin-bottom: 30px; }
  .todo-app .todo-app__signin-input-group, .todo-app .todo-app__signup-input-group {
    position: relative;
    margin-bottom: 30px; }
    .todo-app .todo-app__signin-input-group input, .todo-app .todo-app__signup-input-group input {
      font-size: 14px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd; }
      .todo-app .todo-app__signin-input-group input:focus, .todo-app .todo-app__signup-input-group input:focus {
        outline: none; }
    .todo-app .todo-app__signin-input-group label, .todo-app .todo-app__signup-input-group label {
      color: #999;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all; }
    .todo-app .todo-app__signin-input-group input:focus ~ label, .todo-app .todo-app__signin-input-group input:valid ~ label, .todo-app .todo-app__signup-input-group input:focus ~ label, .todo-app .todo-app__signup-input-group input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #70D0D9; }
    .todo-app .todo-app__signin-input-group .bar, .todo-app .todo-app__signup-input-group .bar {
      position: relative;
      display: block;
      width: 100%; }
      .todo-app .todo-app__signin-input-group .bar:before, .todo-app .todo-app__signin-input-group .bar:after, .todo-app .todo-app__signup-input-group .bar:before, .todo-app .todo-app__signup-input-group .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #70D0D9;
        transition: 0.2s ease all; }
      .todo-app .todo-app__signin-input-group .bar:before, .todo-app .todo-app__signup-input-group .bar:before {
        left: 50%; }
      .todo-app .todo-app__signin-input-group .bar:after, .todo-app .todo-app__signup-input-group .bar:after {
        right: 50%; }
    .todo-app .todo-app__signin-input-group input:focus ~ .bar:before, .todo-app .todo-app__signin-input-group input:focus ~ .bar:after, .todo-app .todo-app__signup-input-group input:focus ~ .bar:before, .todo-app .todo-app__signup-input-group input:focus ~ .bar:after {
      width: 50%; }
    .todo-app .todo-app__signin-input-group .highlight, .todo-app .todo-app__signup-input-group .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5; }
    .todo-app .todo-app__signin-input-group input:focus ~ .highlight, .todo-app .todo-app__signup-input-group input:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease; }
@keyframes inputHighlighter {
  from {
    background: #fff; }
  to {
    width: 0;
    background: transparent; } }
  .todo-app__login-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh; }
  .todo-app__signin-submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    color: #70d0d9;
    border: 1px solid #70D0D9; }
  .todo-app__login-inner-container {
    width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .todo-app__login-inner-container > span {
      padding-top: 80px;
      color: #fff;
      font-size: 35px;
      text-align: center;
      display: block; }
    .todo-app__login-inner-container .todo-app__signup-button, .todo-app__login-inner-container .todo-app__login-button {
      background-color: #70d0d9;
      border: 1px solid #70d0d9;
      border-radius: 25px;
      width: 100%;
      display: block;
      color: #fff;
      text-align: center;
      padding: 10px;
      margin-bottom: 10px; }
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.todo-app__user-setting-content {
  font-size: 14px; }
  .todo-app__user-setting-content > p {
    font-size: 13px;
    color: #70D0D9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 30px; }
  .todo-app__user-setting-content > div {
    padding-top: 10px;
    padding-bottom: 10px; }

.wtd-dashboard-schedule-manager {
  float: left;
  width: calc(100% - 260px);
  height: 100vh;
  padding: 80px 25px 12px 45px;
  background-color: #fff;
  border-right: 1px solid #f1f1f1;
  position: relative;
  z-index: 1; }

.wtd-dashboard__add-todo-item-form > div {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .wtd-dashboard__add-todo-item-form > div:after {
    content: "";
    display: table;
    clear: both; }
  .wtd-dashboard__add-todo-item-form > div > input {
    float: left;
    width: 80%;
    padding: 10px;
    border-right: 1px solid #ddd;
    min-height: 21px; }
  .wtd-dashboard__add-todo-item-form > div > div input {
    width: 110px;
    padding: 10px;
    font-size: 13px;
    opacity: .5; }
.wtd-dashboard__add-todo-item-form > button:nth-of-type(1) {
  padding: 10px 14px;
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px; }
.wtd-dashboard__add-todo-item-form > button:nth-of-type(2) {
  color: #555;
  cursor: pointer;
  font-size: 13px;
  padding: 2px 5px; }
  .wtd-dashboard__add-todo-item-form > button:nth-of-type(2):hover {
    text-decoration: underline; }

.wtd-dashboard-productivity__streak-chart-container {
  position: relative;
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 20px; }
  .wtd-dashboard-productivity__streak-chart-container .wtd-dashboard-productivity__trophy-icon {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px; }
    .wtd-dashboard-productivity__streak-chart-container .wtd-dashboard-productivity__trophy-icon.active {
      color: #dd4b39; }

.wtd-dashboard-productivity__chart {
  position: relative;
  padding: 10px 0; }
  .wtd-dashboard-productivity__chart .wtd-dashboard__productivity-canvas-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
.wtd-dashboard-productivity__tab {
  margin-top: 15px; }
  .wtd-dashboard-productivity__tab:after {
    content: "";
    display: table;
    clear: both; }
  .wtd-dashboard-productivity__tab li {
    float: left;
    width: 50%;
    padding: 0 !important;
    margin: 0; }
    .wtd-dashboard-productivity__tab li a {
      line-height: 2em;
      font-size: 13px;
      color: #555;
      border-bottom: solid 1px #737373;
      text-align: center; }
.wtd-dashboard-productivity__move-karma {
  border-top: 1px solid #e0e0e0;
  padding: 1.5em 0;
  text-align: center;
  font-size: 11px;
  color: #dd4b39;
  cursor: pointer; }
  .wtd-dashboard-productivity__move-karma:hover {
    text-decoration: underline; }
.wtd-dashboard-productivity__streak {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 1em 0 1em 0;
  margin-bottom: 10px; }
  .wtd-dashboard-productivity__streak p {
    font-size: 11px;
    margin: 0 0 .25em 0; }
    .wtd-dashboard-productivity__streak p.sm {
      font-size: 11px;
      margin: .5em 0 0 0;
      color: #999;
      line-height: 1.5em; }
.wtd-dashboard-productivity__modal h6 {
  font-weight: 500;
  font-size: 13px;
  color: #555;
  margin-bottom: 10px; }
.wtd-dashboard-productivity__modal > div {
  padding: 0 20px; }
  .wtd-dashboard-productivity__modal > div > p {
    font-size: 11px; }
.wtd-dashboard-productivity__modal header {
  position: relative;
  margin: 15px 20px; }
  .wtd-dashboard-productivity__modal header p {
    display: inline-block; }
  .wtd-dashboard-productivity__modal header button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px; }
    .wtd-dashboard-productivity__modal header button:before, .wtd-dashboard-productivity__modal header button:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 100%;
      background-color: #6f6f6f;
      opacity: .15; }
    .wtd-dashboard-productivity__modal header button:before {
      transform: translate(-50%, -50%) rotate(45deg); }
    .wtd-dashboard-productivity__modal header button:after {
      transform: translate(-50%, -50%) rotate(-45deg); }
.wtd-dashboard-productivity__modal ul {
  position: relative;
  z-index: 1;
  font-size: 11px; }
  .wtd-dashboard-productivity__modal ul li {
    padding: 2px;
    margin-bottom: 5px; }
    .wtd-dashboard-productivity__modal ul li div {
      display: inline-block;
      background-color: #cccccc;
      min-width: 1px;
      margin-top: 1px;
      height: 9px;
      margin-right: 8px; }
    .wtd-dashboard-productivity__modal ul li b {
      margin-left: 5px; }

.wtd-dashboard-user-setting > div {
  padding: 15px 0;
  border-bottom: 1px solid #eee; }
.wtd-dashboard-user-setting__title {
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 14px;
  color: #202020; }
.wtd-dashboard-user-setting dl {
  padding: .525em 0; }
  .wtd-dashboard-user-setting dl dt {
    display: inline-block;
    vertical-align: top;
    color: #aaa;
    width: 105px;
    padding-right: 10px;
    font-size: 13px; }
  .wtd-dashboard-user-setting dl dd {
    display: inline-block;
    color: #222; }
    .wtd-dashboard-user-setting dl dd a {
      display: inline-block;
      color: #e44232;
      font-size: 11px;
      margin-left: 10px; }
      .wtd-dashboard-user-setting dl dd a:hover {
        text-decoration: underline; }
.wtd-dashboard-user-setting__image-wrap {
  cursor: pointer;
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%; }
  .wtd-dashboard-user-setting__image-wrap span {
    display: none; }
  .wtd-dashboard-user-setting__image-wrap:hover span {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    color: #fff; }
    .wtd-dashboard-user-setting__image-wrap:hover span svg {
      font-size: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .wtd-dashboard-user-setting__image-wrap img {
    width: 100%; }
.wtd-dashboard-user-setting__user-delete-info {
  border-bottom: none !important; }
.wtd-dashboard-user-setting__user-delete-button {
  font-size: 12px;
  display: inline-block;
  padding: 10px 50px;
  border: 1px solid #e44232;
  border-radius: 3px;
  color: #e44232;
  font-weight: 300;
  background: white;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all .35s ease; }
  .wtd-dashboard-user-setting__user-delete-button:hover {
    background-color: #e44232;
    color: #fff; }
.wtd-dashboard-user-setting__user-delete-comment {
  margin-top: 15px;
  font-size: 11px;
  color: #aaa;
  display: block; }

.wtd-dashboard-theme-setting h6 {
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 14px;
  color: #202020; }
.wtd-dashboard-theme-setting > p {
  margin-bottom: 20px; }
.wtd-dashboard-theme-setting ul li.is-active {
  font-weight: 500; }
  .wtd-dashboard-theme-setting ul li.is-active .wtd-dashboard-theme-setting__check-icon {
    display: inline-block;
    position: absolute;
    right: 5px; }
.wtd-dashboard-theme-setting ul li:hover {
  background-color: #fafafa; }
.wtd-dashboard-theme-setting__check-icon {
  display: none; }
.wtd-dashboard-theme-setting__monitor-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 208px;
  height: 147px;
  border-radius: 3px;
  border: 1px solid #ddd;
  overflow: hidden; }
  .wtd-dashboard-theme-setting__monitor-container:after {
    content: "";
    display: table;
    clear: both; }
  .wtd-dashboard-theme-setting__monitor-container header {
    height: 18px;
    background-color: #e44232;
    transition: background .3s ease-in-out; }
  .wtd-dashboard-theme-setting__monitor-container aside {
    float: left;
    width: 30%;
    height: 100%;
    background-color: #fafafa; }
    .wtd-dashboard-theme-setting__monitor-container aside .line {
      width: 45%;
      height: 1px;
      display: block;
      background-color: #ECECEC;
      margin: 7px auto; }
      .wtd-dashboard-theme-setting__monitor-container aside .line:nth-of-type(1) {
        margin-top: 10px; }
  .wtd-dashboard-theme-setting__monitor-container div {
    float: left;
    width: 70%; }
    .wtd-dashboard-theme-setting__monitor-container div .line {
      width: 35%;
      height: 1px;
      display: block;
      background-color: #ECECEC;
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: 5px; }
    .wtd-dashboard-theme-setting__monitor-container div .circle-and-line {
      display: block;
      height: 14px;
      margin-left: 5px; }
      .wtd-dashboard-theme-setting__monitor-container div .circle-and-line:before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 7px;
        border: 1px solid #C9C9C9; }
      .wtd-dashboard-theme-setting__monitor-container div .circle-and-line:after {
        content: "";
        display: inline-block;
        position: relative;
        top: -3px;
        left: 5px;
        width: 100px;
        height: 1px;
        background-color: #ececec; }
    .wtd-dashboard-theme-setting__monitor-container div .cross {
      font-size: 10px;
      position: relative;
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-left: 4px;
      transition: color .3s ease-in-out; }
.wtd-dashboard-theme-setting > div {
  position: relative;
  margin-top: 25px; }
  .wtd-dashboard-theme-setting > div ul {
    width: 300px; }
    .wtd-dashboard-theme-setting > div ul li {
      padding: 1em 5px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      position: relative; }
      .wtd-dashboard-theme-setting > div ul li span:nth-of-type(1) {
        display: inline-block;
        border-radius: 16px;
        width: 12px;
        height: 12px;
        background-color: #e44232;
        margin-right: 10px; }
      .wtd-dashboard-theme-setting > div ul li span:nth-of-type(2) {
        display: inline-block; }

.DayPickerInput-OverlayWrapper {
  position: absolute;
  top: 64px;
  right: 2px;
  border: 1px solid #ddd;
  width: 260px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  font-size: 11px;
  background-color: #fff; }
  .DayPickerInput-OverlayWrapper header {
    border-bottom: 1px solid #eee;
    padding: 10px 0 8px 0;
    margin-left: 5px;
    margin-right: 5px; }
    .DayPickerInput-OverlayWrapper header ul:after {
      content: "";
      display: table;
      clear: both; }
    .DayPickerInput-OverlayWrapper header ul li {
      float: left;
      font-size: 24px;
      width: 16.66%;
      text-align: center;
      opacity: .5;
      transition: opacity .3s ease-in-out; }
      .DayPickerInput-OverlayWrapper header ul li:nth-of-type(1) {
        font-size: 26px; }
        .DayPickerInput-OverlayWrapper header ul li:nth-of-type(1) .fa-layers-text {
          color: #222;
          top: 9px;
          font-size: 24px;
          opacity: .7; }
      .DayPickerInput-OverlayWrapper header ul li:nth-of-type(4) {
        font-size: 26px; }
      .DayPickerInput-OverlayWrapper header ul li:hover {
        opacity: 1; }

.DayPickerInput-Overlay {
  box-shadow: none;
  position: initial; }

.DayPicker {
  width: 235px;
  margin-left: 10px; }

.DayPicker-Caption > div {
  text-align: center; }

.DayPicker-NavBar span:nth-of-type(1) {
  right: 0;
  left: 25px; }

.test-todo {
  position: relative;
  width: 100%;
  border-collapse: collapse; }
  .test-todo.is-dragging:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f7f7f7; }
  .test-todo tr {
    border-collapse: collapse; }
  .test-todo td {
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    vertical-align: middle; }
    .test-todo td:nth-of-type(1) {
      width: 32px; }
      .test-todo td:nth-of-type(1) div {
        width: 16px;
        height: 16px;
        cursor: pointer;
        user-select: none;
        text-align: center;
        line-height: 16px;
        border: 1px solid #999;
        border-radius: 16px;
        transition: background-color 150ms ease-in;
        margin-right: -5px; }
    .test-todo td:nth-of-type(2) {
      width: 500px;
      overflow: hidden;
      cursor: text; }
    .test-todo td:nth-of-type(3) {
      color: #202020;
      font-size: 11px;
      text-align: right;
      white-space: nowrap;
      padding-left: 5px !important;
      padding-top: 14px;
      padding-bottom: 12px; }

.wtd-dashboard__add-schedule {
  color: #3d3d3d;
  position: relative;
  display: inline-block;
  padding-left: 5px; }
  .wtd-dashboard__add-schedule:before, .wtd-dashboard__add-schedule:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #6f6f6f;
    opacity: .15; }
  .wtd-dashboard__add-schedule:before {
    transform: translate(-50%, -50%) rotate(45deg); }
  .wtd-dashboard__add-schedule:after {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .wtd-dashboard__add-schedule:before, .wtd-dashboard__add-schedule:after {
    left: 0;
    opacity: 1; }

/*# sourceMappingURL=index.css.map */
