@import 'default';

@import 'partials/base';
@import 'components/index';
@import 'containers/index';

.todo-app {
  position: relative;
  height: 100vh;
}
.todo-app__content {
  max-width: 640px;
  margin: 0 auto;  
  position: relative;
  height: calc(100vh - 50px);
}
