@import '~styles/common';
.wtd-signup-modal {
  @include e('inner-container') {
    padding: 0 15px;
  }
  @include e('header') {
    @include clearfix;

    p {
      float: left;
    }
  }
  @include e('close-btn-wrap') {
    display: block;
    float: right;
    > button {
      display: block;
      position: relative;
      width: 15px;
      height: 15px;

      &:hover {
        &:before,
        &:after {
          opacity: 0.4;
        }
      }
      @include close-button;
    }
  }
  @include e('social-login') {
    margin-top: 20px;
    > button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      text-align: left;
      font-size: 13px;
      line-height: 17px;
      padding: 6px 12px 7px 12px;
      position: relative;
      border: 1px solid #ddd;
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease-in-out;
      &:before {
        content: '';
        position: relative;
        top: 3px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-position: 50% 50%;
        background-size: 16px 16px;
        margin-right: 8px;
      }
      // google button
      &:nth-of-type(1) {
        &:before {
          background-image: url('../assets/images/icon/google-icon.svg');
        }
      }
      // facebook button
      &:nth-of-type(2) {
        &:before {
          background-image: url('../assets/images/icon/facebook-icon.svg');
        }
      }
      // github button
      &:nth-of-type(3) {
        &:before {
          background-image: url('../assets/images/icon/github-icon.svg');
        }
      }
      &:hover {
        font-weight: 600;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include e('separator') {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 0;
    border-top: 1px solid #ddd;

    span {
      @include center-layout;
      padding: 0 16px;
      color: #ccc;
      background: #fff;
      font-size: 11px;
    }
  }
  @include e('signup-form') {
    label {
      position: relative;
      svg {
        position: absolute;
        top: 13px;
        left: 12px;
        fill: $defaultFontColor;
        opacity: 0.5;
        width: 1.1em !important;
        font-size: 15px;
      }
    }
    input {
      display: block;
      font-size: 13px;
      font-weight: normal;
      width: 100%;
      padding: 13px;
      border: 1px solid #ddd;
      margin-bottom: 1em;
      padding-left: 45px;
      transition: all 0.2s ease-in-out;
      &:focus {
        border-color: $mainColor;
      }
      &:focus::-webkit-input-placeholder {
        color: transparent;
        transition: color 0.2s ease-in-out;
      }
      &[type='submit'] {
        cursor: pointer;
        background-color: #db4c3f;
        color: #fff;
        padding-left: 13px;
        border: 1px solid transparent;
        border-radius: 3px;
        transition: all 0.3s ease;
        &:hover {
          background-color: #c53727;
          border-color: #c53727;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
.wtd-anonymous-login-button {
  color: #e44232;
  display: inline-block;
  margin-left: 5px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  width: 100%;
  &:hover {
    text-decoration: underline;
  }
}
.wtd-login-modal {
  @include e('help-block') {
    p {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 13px;
      font-weight: 300;
      a {
        color: $mainColor;
        display: inline-block;
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
}
