@import '~styles/common';
.wtd-dashboard-todo-list {
  margin-bottom: 30px;
  @include e('header') {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 0.5em;
    margin-right: 27px;
    h2 {
      font-weight: 600;
      color: #222;
      font-size: 14px;

      span {
        color: #999;
        margin-left: 6px;
        font-size: 11px;
        font-weight: normal;
      }
    }
  }
  @include e('add-task') {
    a {
      display: block;
      height: 3em;
      line-height: 3em;
      padding: 1px;
      color: #dd4b39;
      font-size: 14px;
      span {
        position: relative;
        display: inline-block;
        width: 11px;
        height: 14px;
        font-size: 11px;
        margin-right: 15px;
        margin-top: -2px;
        text-decoration: none !important;
        border: 0;
        &:before {
          content: '+';
          position: absolute;
          font-size: 23px;
          line-height: 18px;
          top: 0;
        }
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include e('drop-content') {
    margin-top: 10px;
    border: 1px solid #f0f0f0;
    padding: 10px 10px;
    text-align: center;
    p {
      letter-spacing: 0;
      font-weight: 300;
      span {
        font-weight: bold;
      }
    }

    &.is-active {
      background-color: #999;
      p {
        color: #fff;
      }
    }
  }
}
