@import '~styles/common';
.wtd-about-developer {
  border-top: 1px solid #e1e1e1;
  padding: 50px 0;
  text-align: center;
  p {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 0;
  }
  a {
    color: $mainColor;
    letter-spacing: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}
