@import '~styles/common';
.wtd-dashboard-productivity {
  padding: 10px;
  header {
    margin-bottom: 10px;
  }
  @include e('chart') {
    position: relative;
    padding: 10px 0;
  }
  @include e('close-btn') {
    float:right;
    display: block;
    position: relative;
    width: 15px;
    height: 15px;

    &:hover {
      &:before,
      &:after {
        opacity: 0.4;
      }
    }
    @include close-button;
  }
  @include e('streak-chart-container') {
    position: relative;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 20px;    
  }
  @include e('trophy-icon') {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    &.active {
      color: #dd4b39;
    }    
  }

  @include e('move-karma') {
    border-top: 1px solid #e0e0e0;
    padding: 1.5em 0 0.5em 0;
    text-align: center;
    font-size: 11px;
    color: #dd4b39;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  @include e('streak') {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 1.5em 0 1.5em 0;
    margin-bottom: 10px;
    p {
      font-size: 11px;
      margin: 0 0 0.25em 0;
      &.sm {
        font-size: 11px;
        margin: 0.5em 0 0 0;
        color: #999;
        line-height: 1.5em;
      }
    }
  }
  @include e('bar-chart') {
    position: relative;
    z-index: 1;
    font-size: 11px;
    padding: 0 10px;
  }
  @include e('chart-bar') {
    width: 220px;
    display: inline-block;
    height: 9px;
    margin-top: 1px;
    margin-right: 8px;
    margin-bottom: 10px;
    > div {
      position: relative;
      min-width: 1px;
      height: 8px;
      background-color: rgb(204, 204, 204);

      > span {
        display: inline-block;
        position: absolute;
        right: -35px;
        top: -1px;
      }
    }
  }
}
.wtd-dashboard__productivity-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
}
