@import '~styles/common';

.wtd-header {
  @include e('actions-holder') {
    float: right;
  }

  @include e('action') {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
  @include e('action-link') {
    position: relative;
    transition: all 0.4s ease;
    font-size: 15px;
    font-weight: 300;
    &:after {
      bottom: 0;
      width: 0;
      border-top: 0 solid $mainColor;
      content: '';
      display: block;
      opacity: 0;
      position: absolute;
      transition: all 0.4s ease;
    }
    &:hover {
      color: #474747;
      &:after {
        width: 100%;
        border-top-width: 2px;
        opacity: 1;
      }
    }
  }
}
