@import "~styles/common";
.wtd-dashboard-collapse {
  @include e("project-panel") {
    &.is-active {
      background-color: #fff;
      font-weight: 600;
    }
    table {
      width: 100%;
      cursor: pointer;
      td {
        text-align: left;
        vertical-align: middle;
        padding: 10px 0 10px 4px;
        display: inline-block;
        &.color {
          margin-right: 5px;
          div {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            font-size: 16px;
            border: 1px solid #f3f3f3;
          }
        }
        &.name {
          font-size: 14px;
          color: #333;
          padding-left: 0;
          span {
            margin-right: 3px;
          }
        }
      }
    }
  }
  @include e("form") {
    margin-top: 10px;
    ul {
      position: absolute;
      top: 34px;
      left: 0;
      width: 226px;
      height: 49px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
      padding: 10px 0 10px 12px;
      overflow-y: auto;
      li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
        span {
          display: inline-block;
          width: 18px;
          height: 18px;
          border-radius: 50%;
        }
      }
    }
    div {
      position: relative;
      > div {
        position: relative;

        a {
          position: absolute;
          top: 11px;
          left: 6px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: inline-block;
          font-size: 16px;
          border: 1px solid #f3f3f3;
        }
      }
    }
    input {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 8px 10px 8px 20px;
      width: 100%;
      background-color: #fff;
    }

    button {
      font-size: 13px;
      line-height: 17px;
      padding: 6px 12px 7px 12px;
      position: relative;
      display: inline-block;
      white-space: nowrap;
      border-radius: 3px;
      color: #fff;
      text-align: center;
      background-color: #db4c3f;
      margin-right: 5px;
      margin-top: 5px;
      transition: all 0.25s ease-in-out;
    }

    a {
      color: #555;
      cursor: pointer;
      font-size: 13px;
      padding-top: 5px;
      font-weight: 300;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include e("header") {
    transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    padding: 12.5px 0 12.5px 15px;
    line-height: 1em;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin: 0;
    .arrow {
      display: inline-block;
      content: "\20";
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 4px solid #666;
      vertical-align: middle;
      margin-right: 8px;
    }

    &:hover {
      background-color: #f7f7f7;
    }
  }
  @include e("panel") {
  }

  .rc-collapse-header {
    outline: none;
  }
  > .rc-collapse-item-disabled {
    > .rc-collapse-header {
      cursor: not-allowed;
      color: #999;
      background-color: #f3f3f3;
    }
  }
  > .rc-collapse-item-active {
    > .rc-collapse-header {
      .arrow {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid #666;
        margin-right: 6px;
      }
    }
  }
  .rc-collapse-anim-active {
    transition: height 0.2s ease-out;
  }
  .rc-collapse-content {
    overflow: hidden;
    color: #666;
    padding: 0 16px;
    > .rc-collapse-content-box {
      margin-top: 10px;
      margin-bottom: 16px;
    }
  }
  .rc-collapse-content-inactive {
    display: none;
  }
}
