.app-header:after {
  content: "";
  display: block;
  clear: both;
}
.user-info__right-side-content {
  font-size:12px;
}
.user-info button {
  position: absolute;
  color:#fff;
  top:11px;
  font-size:14px;
}