.wtd-dashboard-karma-setting {
  @include component-box;
  h6 {
    @include component-header;
  }

  > p {
    @include component-description;
  }

  @include e('setting-box') {
    label {
      display: inline-block;
      vertical-align: top;
      color: #aaa;
      padding-right: 10px;
      font-size: 13px;
    }

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    > a {
      @include edit-button;
    }
  }
}
