.wtd-dashboard-theme-setting {
  h6 {
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 14px;
    color: #202020;    
  }
  > p {
    margin-bottom: 20px;    
  }
  ul {
    li {
      &.is-active {
        font-weight: 500;
        .wtd-dashboard-theme-setting__check-icon {
          display: inline-block;
          position: absolute;
          right: 5px;
        }
      }

      &:hover {
        background-color: #fafafa;        
      }
    }
  }
  @include e('check-icon') {
    display: none;
  }
  @include e('monitor-container') {
    @include clearfix;
    position: absolute;
    right: 0;
    top: 0;
    width: 208px;
    height: 147px;
    border-radius: 3px;
    border: 1px solid #ddd;
    overflow: hidden;
    header {
      height: 18px;
      background-color: $mainColor;
      transition: background .3s ease-in-out;
    }

    aside {
      float: left;
      width: 30%;
      height: 100%;
      background-color: #fafafa;

      .line {
        width: 45%;
        height: 1px;
        display: block;
        background-color: #ECECEC;
        margin: 7px auto;

        &:nth-of-type(1) {
          margin-top: 10px;
        }
      }
    }

    div {
      float: left;
      width: 70%;

      .line {
        width: 35%;
        height: 1px;
        display: block;
        background-color: #ECECEC;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
      }
      .circle-and-line {
        display: block;
        height: 14px;
        margin-left: 5px;        
        &:before {
          content: "";
          display: inline-block;
          width: 7px;
          height: 7px;
          border-radius: 7px;
          border: 1px solid #C9C9C9;
        }
        &:after {
          content: "";
          display: inline-block;
          position: relative;
          top: -3px;
          left: 5px;
          width: 100px;
          height: 1px;
          background-color: #ececec;
        }
      }
      
      .cross {
        font-size: 10px;
        position: relative;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: 4px;
        transition: color .3s ease-in-out;           
      }
    }
  }
  > div {
    position: relative;
    margin-top: 25px;
    ul {
      width: 300px;
      li {
        padding: 1em 5px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        position: relative;  
        
        span {
          &:nth-of-type(1) {
            display: inline-block;
            border-radius: 16px;
            width: 12px;
            height: 12px;
            background-color: $mainColor;            
            margin-right: 10px;
          }
          &:nth-of-type(2) {
            display: inline-block;
          }
        }
      }
    }
  }
}